$color: skyblue;
$primaryColor: red;
$thirdColor: rgba(180,22,27,1);
$fourthColor: rgba(180,22,27,1);
$whiteColor: #e0e0e0;
$blackColor: #0D0D0D;
$lightBlackColor: rgba(13, 13, 13, 0.8);

.background {
    background: linear-gradient(91.41deg, #ffffff .15%, #ffffff 99.82%);
    padding: 1rem 0;
    text-align: center;
    border-radius: 15px !important;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    h2 {
        color: $blackColor;
        font-weight: 600;
        font-size: 22px;
    }

    .formData {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .joinButton {
        background-color: $thirdColor !important;
        color: $whiteColor;
        padding: 15px 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        text-transform: capitalize;
        margin-left: 1rem;

        :hover {
            background-color: $whiteColor;
            color: $fourthColor;
        }
    }

    .phonenumber {
        background: rgba(224, 224, 224, 0.2);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $blackColor;
        padding: 15px;
        border: 1.5px solid $blackColor;
        outline: $blackColor;
        border-radius: 4px;
        // border-right: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        :focus {
            outline: $blackColor;
        }
    }

    ::placeholder {
        color: $blackColor;
        opacity: 1;
    }

    .select {
        background: rgba(224, 224, 224, 0.2);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $blackColor;
        border: 2.5px solid $blackColor;
        border-right: 1px solid $blackColor;
        outline: $blackColor;
        border-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 5px;
        font-size: 16px;
        width: fit-content;
        padding-left: 1.5rem;

        .optionSelect {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top:5px ;
        }

        .flagImage {
            height: 20px;
            width: 25px;
        }
    }

    .flagImage {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 768px) {
    .background {
        width: 750px;

    }

    
}

@media (min-width: 992px) {
    .background {
        width: 970px;
    }

}

@media (min-width: 1200px) {
    .background {
        width: 1170px;
    }

}

@media (max-width: 768px) {
    .background {
        padding: 1rem;
        margin: 1rem;
        position: relative;
    }
    h2 {
        font-size: 18px !important;
    }
    .formData {
      display: block !important;
    }

    .joinButton {
        width: -webkit-fill-available;
        margin-top: 5px !important;
        margin-left: 0 !important;
    }
    .phonenumber {
        width: 100% !important;
    }
}